body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1f2937;
    padding: 0px 200px;
}
ul{
    list-style-type: none;
    display:flex;
    gap:16px;
}
a{
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px; 
}
.header-logo{
    font-size: 24px;
    color:#f9faf8;
}
.section-1{
    display:flex;
    align-items: center;
    padding:100px 200px;
    justify-content:space-between;
    background-color: #1f2937;
    gap:32px;
}
img{
    width:500px;
    height:250px;
}
h1{
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
    margin:0px;
}
p{
    font-size: 18px;
    color:#e5e7eb;
}
.signup{
    background-color:#3882f6;
    color:#f9faf8;
    font-size:18px;
    border:none;
    border-radius:8px;
    padding: 8px 24px;
    font-weight: 600;
}
.img-card{
    width: auto;
}
