body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1f2937;
    padding: 0px 240px 0px 240px;
}
ul{
    list-style-type: none;
    display:flex;
    gap:16px;
}
a{
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px; 
}
.header-logo{
    font-size: 24px;
    color:#f9faf8;
}